*-
*.go
*~
.#*
/.config.make
/.tarball-version
/ChangeLog
/a.out

#keep this: bootstrap
#/mes.mes

/module/mes/tiny-0-32.mo
#keep this: bootstrap
#/module/mes/read-0-32.mo
/module/mes/read-0.mo
/out
?
?.mes
\#*#
/doc/fosdem/fosdem.aux
/doc/fosdem/fosdem.log
/doc/fosdem/fosdem.nav
/doc/fosdem/fosdem.out
/doc/fosdem/fosdem.snm
/doc/fosdem/fosdem.tex
/doc/fosdem/fosdem.toc
/doc/fosdem/fosdem.*vrb
