*-
*~
.#*
*.E
*.S
*.blood-elf
*.blood-elf-M1
*.blood-elf-hex2
*.gcc
*.gcc-o
*.gcc-out
*.gcc-stdout
*.go
*.guile
*.guile-log
*.log
*.mes-gcc
*.mes-gcc-o
*.mes-gcc-out
*.mes-gcc-out
*.mes-gcc-stdout
*.mes-o
*.mes-out
*.mes-stdout
*.mes-tcc
*.mes-tcc-o
*.mes-tcc-out
*.mes-tcc-out
*.mes-tcc-stdout
*.mini-M1
*.mini-guile
*.mini-hex2
*.a
*.o
*.seed-out
*.stderr
*.stdout

*.x86-out

*.x86-mes-E
*.x86-mes-S
*.x86-mes-gcc-a
*.x86-mes-gcc-o
*.x86-mes-gcc-out
*.x86-mes-gcc-stdout
*.x86-mes-o
*.x86-mes-out
*.x86-mes-stdout

*.x86_64-mes-E
*.x86_64-mes-S
*.x86_64-mes-gcc-a
*.x86_64-mes-gcc-o
*.x86_64-mes-gcc-out
*.x86_64-mes-gcc-stdout
*.x86_64-mes-o
*.x86_64-mes-out
*.x86_64-mes-stdout
*.x86_64-out

/lib/x86-mes/0exit-42
/lib/x86-mes/exit-42

/scaffold/argv
/scaffold/hello
/scaffold/main
/scaffold/malloc
/scaffold/micro-mes
/scaffold/tiny-mes
/scaffold/mini-mes

/scaffold/x86-mes-*
/scaffold/x86_64-mes-*

/scaffold/tests/x86-mes-*
/scaffold/tests/[0-9a][0-9a-z]-[^.]*

/src/*.h
/src/*.i
/src/mes
/src/x86-mes-mes
/src/x86_64-mes-mes

/.config.make
/.store
/.tarball-version

#keep this: bootstrap
#/mes.mes

/out
?
?.mes
\#*#
/doc/fosdem/fosdem.aux
/doc/fosdem/fosdem.log
/doc/fosdem/fosdem.nav
/doc/fosdem/fosdem.out
/doc/fosdem/fosdem.snm
/doc/fosdem/fosdem.tex
/doc/fosdem/fosdem.toc
/doc/fosdem/fosdem.*vrb
/doc/mes
/doc/mes.1
/doc/mes.info
/doc/mes.pdf
/doc/mescc.1
/doc/version.texi

/config.status
/pre-inst-env
/bootstrap.sh
/build.sh
/check.sh
/install.sh
/uninstall.sh
/mes/module/mes/boot-0.scm
/scripts/mescc.scm
/scripts/mescc
/doc/images/gcc-mesboot-graph.png
/GNUmakefile
/pre-inst-env
/doc/images/gcc-mesboot-graph.eps
/doc/images/gcc-mesboot-graph.pdf
/doc/web/
