*-
*.blood-elf-M1
*.blood-elf-hex2
*.go
*~
.#*
*.0-M1
*.0-guile
*.0-hex2
*.E
*.M1
*.gcc
*.guile
*.hex2
*.hex2-o
*.log
*.stderr
*.stdout
*.mini-M1
*.mini-guile
*.mini-hex2
*.mlibc-gcc
*.mlibc-o
*.tcc-guile
!/stage0/*
!/stage0/*.c
/stage0/exit-42.*

/src/*.h
/src/*.i

*.o
/.config.make
/.store
/.tarball-version
/ChangeLog
/a.out
*.gcc-out
*.mes-out
*.mlibc-out
*.seed-out

#keep this: bootstrap
#/mes.mes

/out
?
?.mes
\#*#
/doc/fosdem/fosdem.aux
/doc/fosdem/fosdem.log
/doc/fosdem/fosdem.nav
/doc/fosdem/fosdem.out
/doc/fosdem/fosdem.snm
/doc/fosdem/fosdem.tex
/doc/fosdem/fosdem.toc
/doc/fosdem/fosdem.*vrb

